@import "~styles/helpers/_module";

:host {


	.formgroup__actions {
		max-width: 366px;
		.formgroup__button {
			background-color: #1e2d7d !important;
			max-width: 366px;
			width:100%;
		}
	}

	.formgroup__container {
		.formgroup__container-row {
			.formgroup__container-header {
				font-weight: 700;
				font-size: 22px;
			}
		}
	}
}
